* {
    font-family: "Space Grotesk", sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #394867;
}

.calculator-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
    width: 350px;
    background-color: #DDE7F2;
    color: #394867;
    /* border-radius: 10px; */
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-group {
    padding: 7px;
    font-size: 20px;
    text-align: left;
}

#result {
    padding: 20px 0 5px 0;
    color: #394867;
}

#display {
    padding: 10px;
    color: #394867;
    border-radius: 3px;
    text-align: center;
}

ul {
    list-style-type: decimal;
}

#reps {
    margin: 0 0 20px 0;
}

button {
    padding: 5px 65px;
    background-color: #878ECD;
    border: solid #B9BBDF;
    box-shadow: 5px 5px 0 #B9BBDF;
    color: #fff;
    letter-spacing: 2px;
    margin: 100px;
}
